@model facturacion.Models.Tblproducto

@{
    ViewData["Title"] = "Nuevo producto";
}

<div>

    <h4>Nuevo producto</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="StrNombre" class="control-label"></label>
                    <input asp-for="StrNombre" class="form-control" />
                    <span asp-validation-for="StrNombre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StrCodigo" class="control-label"></label>
                    <input asp-for="StrCodigo" class="form-control" />
                    <span asp-validation-for="StrCodigo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NumPrecioCompra" class="control-label"></label>
                    <input asp-for="NumPrecioCompra" class="form-control" />
                    <span asp-validation-for="NumPrecioCompra" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NumPrecioVenta" class="control-label"></label>
                    <input asp-for="NumPrecioVenta" class="form-control" />
                    <span asp-validation-for="NumPrecioVenta" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IdCategoria" class="control-label"></label>
                    <select asp-for="IdCategoria" class="form-control" asp-items="ViewBag.IdCategoria"></select>
                </div>
                <div class="form-group">
                    <label asp-for="StrDetalle" class="control-label"></label>
                    <input asp-for="StrDetalle" class="form-control" />
                    <span asp-validation-for="StrDetalle" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StrFoto" class="control-label"></label>
                    <input asp-for="StrFoto" class="form-control" />
                    <span asp-validation-for="StrFoto" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NumStock" class="control-label"></label>
                    <input asp-for="NumStock" class="form-control" />
                    <span asp-validation-for="NumStock" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DtmFechaModifica" class="control-label"></label>
                    <input asp-for="DtmFechaModifica" class="form-control" />
                    <span asp-validation-for="DtmFechaModifica" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StrUsuarioModifica" class="control-label"></label>
                    <input asp-for="StrUsuarioModifica" class="form-control" />
                    <span asp-validation-for="StrUsuarioModifica" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Regresar</a>
    </div>

</div>
