@model facturacion.Models.Tblproducto

@{
    ViewData["Title"] = "Eliminar producto";
}

<div>

    <h3>¿Estás seguro de que quieres eliminar?</h3>
    <div>
        <h4>Eliminar producto</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.StrNombre)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.StrNombre)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.StrCodigo)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.StrCodigo)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.NumPrecioCompra)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.NumPrecioCompra)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.NumPrecioVenta)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.NumPrecioVenta)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.StrDetalle)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.StrDetalle)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.StrFoto)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.StrFoto)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.NumStock)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.NumStock)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DtmFechaModifica)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DtmFechaModifica)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.StrUsuarioModifica)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.StrUsuarioModifica)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.IdCategoriaNavigation)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IdCategoriaNavigation.IdCategoria)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="IdProducto" />
            <input type="submit" value="Delete" class="btn btn-danger" />
            <a asp-action="Index">Regresar</a>
        </form>
    </div>
</div>
