@model facturacion.Models.Tblproducto

@{
    ViewData["Title"] = "Detalle producto";
}

<div>

    <div>
        <h4>Detalle producto</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.StrNombre)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.StrNombre)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.StrCodigo)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.StrCodigo)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.NumPrecioCompra)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.NumPrecioCompra)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.NumPrecioVenta)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.NumPrecioVenta)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.StrDetalle)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.StrDetalle)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.StrFoto)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.StrFoto)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.NumStock)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.NumStock)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DtmFechaModifica)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DtmFechaModifica)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.StrUsuarioModifica)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.StrUsuarioModifica)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.IdCategoriaNavigation)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IdCategoriaNavigation.IdCategoria)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.IdProducto">Editar</a>
        <a asp-action="Index">Regresar</a>
    </div>
</div>
