@model IEnumerable<facturacion.Models.Tblproducto>

@{
    ViewData["Title"] = "Productos";
}

<div>
    <p>
        <a asp-action="Create">Nuevo</a>
    </p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.StrNombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StrCodigo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumPrecioCompra)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumPrecioVenta)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StrDetalle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StrFoto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumStock)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DtmFechaModifica)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StrUsuarioModifica)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdCategoriaNavigation)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.StrNombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StrCodigo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumPrecioCompra)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumPrecioVenta)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StrDetalle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StrFoto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumStock)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DtmFechaModifica)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StrUsuarioModifica)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdCategoriaNavigation.IdCategoria)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.IdProducto">Editar</a>
                        <a asp-action="Details" asp-route-id="@item.IdProducto">Detalle</a>
                        <a asp-action="Delete" asp-route-id="@item.IdProducto">Borar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
