@model facturacion.Models.Tblcliente

@{
    ViewData["Title"] = "Eliminar empleado";
}

<div>

    <h3>¿Estás seguro de que quieres eliminar?</h3>
    <div>
        <h4>Eliminar empleado</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.StrNombre)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.StrNombre)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.NumDocumento)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.NumDocumento)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.StrDireccion)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.StrDireccion)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.StrTelefono)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.StrTelefono)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.StrEmail)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.StrEmail)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DtmFechaModifica)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DtmFechaModifica)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.StrUsuarioModifica)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.StrUsuarioModifica)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="IdCliente" />
            <input type="submit" value="Delete" class="btn btn-danger" />
            <a asp-action="Index">Regresar</a>
        </form>
    </div>
</div>
