@model facturacion.Models.Tblcliente

@{
    ViewData["Title"] = "Detalle empleado";
}

<div>
    <h4>Detalle empleado</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StrNombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StrNombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumDocumento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumDocumento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StrDireccion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StrDireccion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StrTelefono)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StrTelefono)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StrEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StrEmail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DtmFechaModifica)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DtmFechaModifica)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StrUsuarioModifica)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StrUsuarioModifica)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdCliente">Editar</a>
    <a asp-action="Index">Regresar</a>
</div>