@model facturacion.Models.Tblcliente

@{
    ViewData["Title"] = "Editar empleado";
}

<div>
    <h4>Editar empleado</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="IdCliente" />
                <div class="form-group">
                    <label asp-for="StrNombre" class="control-label"></label>
                    <input asp-for="StrNombre" class="form-control" />
                    <span asp-validation-for="StrNombre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NumDocumento" class="control-label"></label>
                    <input asp-for="NumDocumento" class="form-control" />
                    <span asp-validation-for="NumDocumento" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StrDireccion" class="control-label"></label>
                    <input asp-for="StrDireccion" class="form-control" />
                    <span asp-validation-for="StrDireccion" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StrTelefono" class="control-label"></label>
                    <input asp-for="StrTelefono" class="form-control" />
                    <span asp-validation-for="StrTelefono" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StrEmail" class="control-label"></label>
                    <input asp-for="StrEmail" class="form-control" />
                    <span asp-validation-for="StrEmail" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DtmFechaModifica" class="control-label"></label>
                    <input asp-for="DtmFechaModifica" class="form-control" />
                    <span asp-validation-for="DtmFechaModifica" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StrUsuarioModifica" class="control-label"></label>
                    <input asp-for="StrUsuarioModifica" class="form-control" />
                    <span asp-validation-for="StrUsuarioModifica" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Regresar</a>
    </div>

</div>
