@model IEnumerable<facturacion.Models.Tblcliente>
@{
    ViewData["Title"] = "Empleados";
}

<div>
    <p>
        <a asp-action="Create">Nuevo</a>
    </p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.StrNombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumDocumento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StrDireccion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StrTelefono)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StrEmail)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DtmFechaModifica)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StrUsuarioModifica)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.StrNombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumDocumento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StrDireccion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StrTelefono)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StrEmail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DtmFechaModifica)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StrUsuarioModifica)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.IdCliente">Editar</a>
                        <a asp-action="Details" asp-route-id="@item.IdCliente">Detalle</a>
                        <a asp-action="Delete" asp-route-id="@item.IdCliente">Borrar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>